/*Put global/reusable classes at top */

/* TODO: Understand what this is */
.clr{
    clear: both;
}

.container{ 
    /*Use percentages*/
    /*width: 80%; this is for entire page  */
    margin:auto;
}

/* Use '#id-name' to target id*/
#main-header{ 
    background-color: #f4f4f4;
    /* padding: 1rem; */
    border-radius: 5px;
    text-align: center;
}

/* Use '.class-name' to target class */
.non-main-header {
    background-color: #f4f4f4;
    color:blue;
    /* border: 5px red dashed; */
    /*For curved edges*/
    border-radius: 15px;
    text-decoration: underline;
    text-align: center;
}

/* Since there's no '.' operator, this is for ALL p tags */
p {
    font-family:'Times New Roman', Times, serif;
    color: blue;
    font-size: larger;
    font-weight: normal;
    /*Same as above 
    font: normal larger Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    */
    line-height: 1.7em;
    background-color: #f4f4f4;
}

/*Link styling*/
a{ 
    /*Remove underline*/
    text-decoration: none;
    /*Change color*/
    color: blue;
}

/*For hovering over link, could maybe do better with React?*/
a:hover{
    color: coral;
}

.projects-list {
    text-align: center;
    color: gray;

}

/*TODO: Make these cleaner, don't need to repeat same code for all projects */
.weight-tracker-app:hover {
    color: coral;
}

.ethereum-dapp:hover {
    color: coral;
}

.velkamp-model:hover {
    color: coral;
}

.contact-form{ 
    background-color: lightgray;
}

.contact-form .contact-form-parts {
    padding-bottom: 15px;
}

/*Putting fields on new line*/
.contact-form label{ 
    display: block;
}

/*Targeting certain components*/
.contact-form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    background: #333;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
}

.contact-form input[type="submit"]:hover {
    color: gray;
}

#main-footer {
    background-color: pink;
}